@import "./config";
@import "./Card.scss";

* {
  margin: 0;
  padding: 0;
  font-family: "Space Mono" !important;
  font-weight: 700;
}

#app {
  @include flex($flex-direction: column, $gap: clamp(2em, 6vmax, 4em));
  background-color: $light-grayish-cyan;
  height: 100vh;
  font-size: 1.7vmin;
}

input {
  font-size: 1.5em;
}

input,
button {
  background-color: #fff;
  outline: none;
  border: none;

  &:focus {
    outline: none;
  }
}
