.card {
  @include flex($align-items: stretch, $gap: 2em);
  background-color: $white;
  padding: 2.25em;
  border-radius: 2em;
  width: min(90vw, 57.5em);

  &__calculator {
    flex-basis: 50%;
    padding: 1.25em;

    &__bill,
    &__people {
      &__labels {
        @include flex($justify-content: space-between);
        margin-bottom: 0.5em;

        .--label {
          color: $dark-grayish-cyan;
          display: inline-block;
        }

        .--error {
          color: $invalid;
          text-align: right;
        }
      }

      .--input {
        @include flex(
          $flex-direction: row-reverse,
          $justify-content: space-between
        );
        border-radius: 0.25em;
        padding: 0.25em 0.75em;
        background-color: $very-light-grayish-cyan;
        border: 2px solid $very-light-grayish-cyan;
        transition: 200ms;
        cursor: pointer;

        &:hover,
        &:has(input:focus) {
          border: 2px solid $strong-cyan-light;
        }

        &.--invalid {
          border: 2px solid $invalid !important;

          input {
            color: $invalid;
          }
        }

        input {
          -moz-appearance: textfield;
          background-color: transparent;
          cursor: pointer;
          text-align: right;
          color: $very-dark-cyan;

          &::placeholder {
            color: $grayish-cyan;
          }

          &::-webkit-inner-spin-button,
          &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }

        svg {
          z-index: 9999;
        }
      }
    }

    &__bill {
      margin-bottom: 2.5em;
    }

    &__select {
      p {
        color: $dark-grayish-cyan;
        margin-bottom: 1em;
      }

      &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;
        color: $white;

        &__item {
          @include flex;
          padding: 0.25em 1em;
          border-radius: 0.25em;
          font-size: 1.5em;
          background-color: $very-dark-cyan;
          color: $very-light-grayish-cyan;
          cursor: pointer;
          transition: 200ms;
          min-width: calc(100% / 3);

          &:hover,
          &:focus {
            background-color: $strong-cyan-light;
          }

          &.--active {
            background-color: $strong-cyan;
            color: $very-dark-cyan;
          }

          &:last-child {
            background-color: $very-light-grayish-cyan;
            color: $dark-grayish-cyan;

            input {
              background: transparent;
            }
          }
        }
      }
    }

    &__people {
      margin-top: 2.5em;
    }
  }

  &__display {
    @include flex(
      $flex-direction: column,
      $justify-content: space-between,
      $align-items: stretch
    );
    padding: 2.5em;
    border-radius: 1em;
    background-color: $very-dark-cyan;
    flex-basis: 50%;

    &__container {
      &__item {
        @include flex($justify-content: space-between);
        margin-bottom: 1.75em;

        &:first-child {
          margin-top: 0.75em;
        }

        &__text {
          p {
            color: $white;
          }

          span {
            color: $dark-grayish-cyan;
          }
        }

        &__number {
          p {
            font-size: 3em;
            color: $strong-cyan;
          }
        }
      }
    }

    &__reset {
      background-color: $strong-cyan-transparent;
      color: $very-dark-cyan-transparent;
      padding: 0.5em 0.75em;
      text-transform: uppercase;
      font-size: 1.25em;
      border-radius: 0.25em;

      &.--active {
        background-color: $strong-cyan;
        color: $very-dark-cyan;

        &:hover {
          background-color: $strong-cyan-light;
        }
      }
    }
  }

  @media screen and (width < 800px) {
    width: clamp(300px, 100vw, 500px);
    flex-direction: column;
    gap: 1.5em;
    padding: 1.5em;

    &__calculator {
      padding: 0.5em;

      &__select {
        &__container {
          grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        }
      }
    }

    &__display {
      padding: 1.5em;

      &__container {
        &__item {
          &__number {
            p {
              font-size: 2em;
            }
          }
        }
      }
    }
  }

  @media screen and (width < 500px) {
    border-radius: 2em 2em 0 0;
  }
}
