.card {
  @include flex($align-items: stretch, $gap: 2em);
  background-color: $white;
  padding: 2em;
  border-radius: 2em;
  // width: clamp(17.5em, 80vw, 50em);
  width: clamp(280px, 60vw, 900px);

  &__calculator {
    flex-basis: 50%;
    padding: 0.75em;

    .--input {
      @include flex(
        $flex-direction: row-reverse,
        $justify-content: space-between
      );
      border-radius: 0.5em;
      padding: 0.5em 1em;
      background-color: $very-light-grayish-cyan;

      input {
        -moz-appearance: textfield;
        background-color: transparent;
        text-align: right;
        color: $very-dark-cyan;

        &::placeholder {
          color: $grayish-cyan;
        }

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }

      svg {
      }
    }

    .--label {
      color: $dark-grayish-cyan;
      display: inline-block;
      margin-bottom: 0.5em;
    }

    &__bill {
      margin-bottom: 2.5em;
    }

    &__select {
      margin-bottom: 2.5em;

      p {
        color: $dark-grayish-cyan;
        margin-bottom: 1em;
      }

      &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1em;
        color: $white;

        &__item {
          @include flex;
          padding: 0.25em 1em;
          border-radius: 0.25em;
          font-size: 1.5em;
          background-color: $very-dark-cyan;
          color: $very-light-grayish-cyan;
          cursor: pointer;
          min-width: calc(100% / 3);

          &.--active {
            background-color: $strong-cyan;
          }

          &:last-child {
            background-color: $very-light-grayish-cyan;
            color: $dark-grayish-cyan;

            input {
              background: transparent;
            }
          }
        }
      }
    }

    &__people {
    }
  }

  &__display {
    padding: 2em;
    border-radius: 1em;
    background-color: $very-dark-cyan;
    flex-basis: 50%;

    @include flex(
      $flex-direction: column,
      $justify-content: space-between,
      $align-items: stretch
    );

    &__container {
      &__item {
        @include flex($justify-content: space-between);
        padding: 1em;

        &__text {
          p {
            color: $white;
          }

          span {
            color: $dark-grayish-cyan;
          }
        }

        &__number {
          p {
            font-size: 3em;
            color: $strong-cyan;
          }
        }
      }
    }

    &__reset {
      background-color: $strong-cyan;
      color: $very-dark-cyan;
      padding: 0.5em 0.75em;
      text-transform: uppercase;
      font-size: 1.25em;
      border-radius: 0.25em;
    }
  }
}
